.thinklife-conversation {

  @import "variables";
  @import "conversation";
  @import "qa";
  @import "sms";
  @import "typing";
  @import "spinner";
  @import "editor";
  
  font-family: $font;
  font-weight: 400;  
  font-style: normal;  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &,
  *,
  :after,
  :before {
    box-sizing: border-box;
  }

}
